header {
  text-align: center;
  padding: 0;

}

header h1 {
  margin: 0;
  padding: 2rem 0;
  background-color: #0A2647;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

header nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: #144272;
  padding: 0.5rem;
}

header nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.2s ease-in-out, padding 0.2s ease-in-out, border-radius 0.2s ease-in-out;
}

header nav a:hover {
  background-color: #2C74B3;
  border-radius: 10px;
  padding: 0.5rem 0.5rem;
}

header nav a.active {
  pointer-events: none;
  text-decoration-line: underline;
  text-decoration-color: white;
}

body {
  background-color: #205295;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main{
  max-width: 1100px;
  text-align: center;
  margin: 0 auto;
  flex: 1;
}

.image{
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.7);
}

.image-row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: 1rem;
  align-items: center;
}

.image-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-item a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.image-item a:hover {
  text-decoration-line: underline;
  text-decoration-color: #dadd0a;
}


footer {
  background-color: #2C74B3;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration-line: underline;
  text-decoration-color: #dadd0a;
}

.chat-container {
  text-align: center;
  width: 50%;
}

.chat-window {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.message{
  max-width: 70%;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin: 0.5rem 0;
  word-wrap: break-word;
  color: white;
}

.user {
  align-self: flex-end;
  background-color: #0A2647;
  text-align: left;
}

.bot {
  align-self: flex-start;
  background-color:#144272;
  text-align: left;
}

.chat-input {
  width: 70%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.chat-input:focus {
  outline: none;
}


.chat-button {
  background-color: #0A2647;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}

.chat-button:active {
  transform: scale(0.95);
}

.projects {
  padding-bottom: 1rem;
}

.projects a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.projects a:hover {
  text-decoration-line: underline;
  text-decoration-color: #dadd0a;
}

